{% extends "network/layout.html" %}

{% block body %}
<div class="post-tweet">
    <form action="{% url 'index' %}" method="post" id="tweet-form">
        {% csrf_token %}
        {{tweet_form}}
        <input type="submit" class="btn btn-primary" value="Tweet">
    </form>
</div>
<div class="tweets">
    {% for tweet in tweets %}
    <div class="tweet" id='tweet-{{tweet.id}}'>
        <div class="tweet-info">
            <p class="tweet-author">Posted By:{{tweet.author}}</p>
            <p class="timestamp">Created at:{{tweet.time_stamp}}</p>
        </div>
        <h3 class="tweet-content" id="tweet-content-{{tweet.id}}">{{tweet.content}}</h3>
        <button class="edit_button " data-id="{{tweet.id}}">Edit</button>
        <p  id="like-post-{{tweet.id}}" class="like-count">Likes:{{tweet.likecount}}</p>
        <button class="like-button" data-id="{{tweet.id}}">Like </button>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}