{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<div class="profile-page">
      <div class="title sticky-top pt-2">
        <h2 class="profile-username" style=" padding-top:0; padding-bottom: 2px;">{{profile.username|capfirst}}</h2>
        <p class="text-muted" style="padding-left:20px; margin-bottom:0">{{tweet_count}} Tweet</p>
      </div>
      <div class="profile mb-3 pl-2 pr-1" id="profile-{{profile.id}}">
        <div class="profile-header d-flex justify-content-between">
          <img class="profile-img" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="">
          <button class="follow-button" data-username={{profile.username}}>Follow</button>
        </div>
        <h3 class="username mt-2">{{profile.username|title}}</h3>
        <p class="text-muted">{{profile.email}}</p>
        <p class="text-muted"><i class="far fa-calendar-alt mr-2"></i>{{profile.date_joined}}</p>
        <div class="mutuals-count d-flex ">
          <p class="following mr-5"> <strong class="mr-1">{{profile.is_following.all.count}}</strong><span class="text-muted">Following</span></p>
          <p class="followers "> <strong class="mr-1">{{profile.followers.all.count}}</strong><span class="text-muted">Followers</span></p>
        </div>
        
        
      </div>
      <div class=" user-tweets tweets ">
        {% for tweet in page_obj %}
        <div class=" tweet card   mb-3 border-light " id='tweet-{{tweet.id}}'>
          <div class="card-body">
            <div class="card-title d-flex justify-content-between  "> 
              <div class="tweet-info d-flex" onclick="location.href='{% url 'view_profile' tweet.author %}'">
                <h5>{{tweet.author}}</h5> <span class="ml-2">@{{tweet.author.username}}</span> <span class="ml-1">-</span> <span>{{tweet.time_stamp|date:"d M"}}</span>
              </div>
              {% if request.user == tweet.author %}
                <button class="edit_button text-muted" data-id="{{tweet.id}}">Edit</button>
              {% endif %}
            </div>
              <p class="card-text">{{tweet.content}}</p>
          </div>
          <div class="card-footer text-muted d-flex justify-content-around">
    
            <div class="like">
              {% if request.user in tweet.liked.all %}
                <button class="like-button" data-id="{{tweet.id}}"><i class="fas fa-heart" aria-hidden="true"></i></button>
              {% else %}
                <button class="like-button" data-id="{{tweet.id}}"><i class="far fa-heart" aria-hidden="true"></i></button>
              {% endif %}
              <span  id="like-post-{{tweet.id}}" class="like-count">{{tweet.likecount}}</span>
              
            </div>
            <div class="retweet">
              {% if user in tweet.retweet.all %}
              <button class="rt-button " data-id="{{tweet.id}}"><i class="fas fa-retweet retweet-true" aria-hidden="true"></i></button>
              {% else %}
              <button class="rt-button" data-id="{{tweet.id}}"><i class="fas fa-retweet" aria-hidden="true"></i></button>
              {% endif %}
              <span  id="rt-post-{{tweet.id}}" class="rt-count">{{tweet.retweetcount}}</span>
              
            </div>
          </div>
        </div>
        {% empty %}
        <div class="empty-tweets d-flex flex-column align-items-center ml-3 " style="margin-top:3rem;">
          <p style="margin-bottom: 10px;">Oops!! seems like you havent Posted any Tweet.</p>
      </div>
        {% endfor %}
    </div>


<!-- pagination -->

<nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; </a>
        </li>
      {% else %}
         <li class="page-item disabled">
           <a class="page-link" href="#">&laquo;</a>
         </li>
      {% endif %}
        <li class="page-item disabled" aria-current="page">
          <span class=" current page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
        </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a  class="page-link" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
          <a  class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><span aria-hidden="true">Last</span></a>
        </li>
        {% else %}
          <li class="page-item disabled">
            <a  class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
          </li>
      {% endif %}
    </ul>
</nav>
<script src="{% static 'network/profile.js' %}"></script>
</div>
{% endblock %}

