html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.container{
    max-width:1408px;
}
.row{
    width: 1309px;
    margin-right:100px
}
.sidebar{
    height:100vh;
    padding:0 40px;
    width:100%;
   
}
.logo{
    margin-bottom:32px;
    margin-left:8px;
}
.logo i{
        font-size:35px;
        color:#007bff;

}
li.nav-item {
    display: inline-block;
    display: flex;
    margin-bottom: 7px;
    
}
i{
    width:20px;
}

a.nav-link {
    padding: 12px 12px;
    color:#111;
    font-size:18px;
    font-weight: 400;
}
a.nav-link i{
    color:rgb(73, 72, 72);
}
.nav-link:hover{
    border-radius:40px 40px;
    background-color: rgb(235, 228, 228);
}
<<<<<<< HEAD
.register-btn,.login-btn,.logout-btn{
=======
.register-btn,.login-btn,.logout-btn,.follow-button{
>>>>>>> twitter/UI-fix
    padding:10px 20px ;
    color:#00acee;
    background:#fff;
    border:1px solid #00acee;
    border-radius: 30px;
    font-weight: 500;
    margin:0 40px;

}
.logout-btn{
    width:100%;
    margin:0;
    text-align: center;
    margin-top:10px;

}
<<<<<<< HEAD
.register-btn:hover,.login-btn:hover,.logout-btn:hover{
=======
.follow-button{
    height: 45px;
    margin: 0;
    margin-top: 29px;
    padding: 8px 30px;
}
.register-btn:hover,.login-btn:hover,.logout-btn:hover,.follow-button:hover{
>>>>>>> twitter/UI-fix
    background:#00acee;
    color:#fff;
}

.user-sidebar{
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    flex-direction: column;
}

.title{
    background:white;
    width:100%; 
    border-bottom:.5px solid #ced4da;
<<<<<<< HEAD
=======

>>>>>>> twitter/UI-fix


}
.title h2{
    margin-bottom:0;
    padding-bottom: 4px;
    padding:10px ;
    margin-left:10px;
    
}
<<<<<<< HEAD
=======
.title h2{
    margin-bottom:0;
    padding-bottom: 4px;
    padding:10px ;
    margin-left:10px;
    
}
>>>>>>> twitter/UI-fix

.body{
    border:1px solid #ced4da;
    border-top: 0;
    background: #ced4da;
    border-bottom: 1px solid #ced4da;
     
}

.profile {
    width: 100%;
     padding-top:20px;
     padding-bottom:8px;
    background: #fff;
}
.profile-img{
    width:80px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.tweet{
    width:80% !important;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px !important;
    box-shadow: 0px 6px 17px 7px rgb(0 0 0 / 12%);
  
}
.retweet-true{
    color:rgb(0, 186, 124);  
}
compose-tweet-textarea{
position: relative;

}
.form-control{
    border:none !important;
    outline:none !important;
    border-radius: 0;

}
.form-control:focus{
    box-shadow:none;
    border-color:#ced4da;
}
.compose-tweet-btn{
    position:absolute;
<<<<<<< HEAD
    top:9.8rem;
=======
    top:9.3rem;
>>>>>>> twitter/UI-fix
    right:2rem;
    border-radius: 20px 20px;
    padding:7px 20px;
}
button,button:active,button:focus{
    outline:none;
    border:none;
    background: none;
    padding: 5px 7px;
}
i{
    font-size:22.5px;
    color:gray;
}
.fa-heart.fas{
    color: rgb(249, 24, 128);
}
.like:hover button i ,.like:hover  {
   color: rgb(249, 24, 128);
   
}
.retweet:hover button i ,.retweet:hover  {
    color:rgb(0, 186, 124);
}
.right-side{
    height:100vh;
}
.web-image{
    height:130px;
    width:150px;
    text-align: center;
}
.web-image{
    padding:10px 15px ;
    align-items: center;
    margin-bottom: 10px;
}
.web-image img{
    height:100px;
    width:120px;
    object-fit:cover;
}
.web-link{
    align-self: center;
}
.card-border{
    border-bottom: 1px solid #ced4da;
}
.web-link a{
    font-weight:500;
    color:#000;
}
